@{
    ViewBag.Title = "Por Post o Get";
}
<h3>@ViewBag.Message</h3>

<form action="/Acciones/MetodoGetPost" method="post">
    <input type="number" id="valor" name="valor" value="Valor" />
    <input type="submit" name="name" value="Enviar" />
</form>

