@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<h3>*************************************************************************************</h3>
<h3>Listado de Productos en una vista parcial</h3>
@Html.Partial("_ListadoProductos", (List<ModeloDatos.Datos.productos>)ViewBag.ListaProductos)