
@{
    ViewBag.Title = "DisplayYDisplayTemplates";
}

<h3>Editor Templates</h3>
<h3>-------------------------------------------------------</h3>
@Html.Display("Propiedad")
<h3>-------------------------------------------------------</h3>
<h3>En Modo de Edición</h3>
@Html.Editor("Propiedad")
